.burger-box {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    transform-origin: top right;
    padding: 0.5rem;
    z-index: 10;
}

.burger-content {
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-color: rgb(249 250 251);
    border-radius: 0.5rem;
    background-color: white;
}

.burger-top {
    padding: 1.25rem 1.25rem 1.5rem;
}

.burger-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom-width: 2px;
    border-color: var(--gray-100);
}

.burger-header img {
    height: 2rem;
    width: auto;
}

.close-button {
    display: flex;
    color: var(--tec-blue);
}

nav.burger-top-nav {
    display: grid;
    row-gap: 0.25rem;
    margin-top: 0.5rem;
}

.anchor {
    margin: 0.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.25rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    color: var(--gray-500);
}

.anchor:hover {
    background-color: var(--tec-blue);
    cursor: pointer;
}

.anchor:hover .sidebar-item {
    color: white;
}
