header {
    position: relative;
}

.header-box {
    max-width: 97%;
    margin: auto;
}

.logo-box {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
    margin-top: 1.25rem;
    margin-bottom: -4.125rem;
}

.header-box .navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-width: 2px;
    border-color: var(--gray-100);
}

nav {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

nav .nav-box {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 0%;
}

.nav-box .header-breadcrumb {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--gray-500);
}

.nav-box .header-breadcrumb:hover {
    color: var(--gray-900);
}

nav .login-nav-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0%;
}

.login-nav-box .login {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-500);
}

.login-nav-box .login:hover {
    color: var(--gray-900);
}

.login-nav-box .register {
    margin-left: 2rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--tec-blue);
}

.login-nav-box .register:hover {
    background-color: var(--yale-blue);
}

.burger-menu {
    visibility: hidden;
}

@media only screen and (max-width: 1024px) {
    .logo-box {
        margin-bottom: 0;
    }

    .header-box .navbar-box {
        justify-content: center;
    }

    nav {
        all: unset;
        display: flex;
        align-items: center;
    }

    nav .login-nav-box {
        justify-content: center;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 620px) {
    header {
        visibility: hidden;
    }

    .burger-menu {
        visibility: visible;
    }
}

footer {
    position: relative;
}

footer .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97%;
    margin: auto;
    padding: 1.25rem 1.5rem;
    border-bottom-width: 2px;
    border-color: var(--gray-100);
}

.logo-footer-box {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 0%;
}

.footer-box .footer-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
}

.footer-items .footer-breadcrumb {
    margin-right: 1.5rem;
}

.footer-items .footer-breadcrumb:hover {
    text-decoration: underline;
}

footer .license-block {
    margin-bottom: 2rem;
}

.license-block .license {
    display: block;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
    text-align: center;
} 