footer.Footer-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: white;
    overflow: hidden;
}

.Footer-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.Footer-break {
    flex-grow: 1;
}

nav.Footer-Big-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    padding: 0 1rem 1.5rem;
}

.Footer-link {
    padding: 0.625rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
}

.Footer-link:hover {
    color: var(--gray-900);
}

.Footer-licence {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    border-top-width: 2px;
    border-color: var(--gray-100);
}

.Footer-Licence-text {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
    text-align: center;
} 

.Footer-Licence-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .Footer-title {
        display: none !important;
    }

    .Footer-break {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    nav.Footer-Big-nav {
        display: none;
    }
    
    .Footer-licence {
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    .Footer-licence-text {
        width: 100%;
    }
}