footer {
    position: relative;
}

footer .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97%;
    margin: auto;
    padding: 1.25rem 1.5rem;
    border-bottom-width: 2px;
    border-color: var(--gray-100);
}

.logo-footer-box {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 0%;
}

.footer-box .footer-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
}

.footer-items .footer-breadcrumb {
    margin-right: 1.5rem;
}

.footer-items .footer-breadcrumb:hover {
    text-decoration: underline;
}

footer .license-block {
    margin-bottom: 2rem;
}

.license-block .license {
    display: block;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-500);
    text-align: center;
} 