.logo {
    display: flex;
    align-items: center;
    text-align: justify;
}

.logo img {
    margin-right: 0.75rem;
    height: 3rem;
    width: auto;
}

.logo .logo-text {
    display: flex;
    flex-direction: column;
    color: var(--tec-blue);
    font-weight: 600;
    align-content: space-around;
}

.logo-text .logo-subtitle-text p {
    font-size: 0.75rem;
    margin-bottom: -0.5rem;
}

.logo-text .logo-title-text p {
    font-size: 1rem;
    letter-spacing: -0.025rem;
}