main {
    background-color: white;
    width: 100%;
    display: block;
}

.main-content {
    max-width: 860px;
    padding: 2rem 1.5rem;
    position: relative;
    top: 0;
    margin: auto;
}

.right-space {
    max-width: 280px;
    padding: 2rem 1.5rem;
}

@media only screen and (max-width: 1440px) {
    
}

.section-content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-content .subtitle-box {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-content .subtitle-box h2.subtitle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: var(--gray-900);
}

.section-content .subsubtitle-box {
    text-align: left;
    padding-top: 0.25rem;
}

.section-content .subsubtitle-box h3.subsubtitle{
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: var(--gray-900);
}

.section-content .paragraph-box {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: left;
}

.paragraph-box #concept {
    font-weight: 600;
}

.equation-box {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
}

.overflow-equation {
    font-size: 1rem;
}

.canvas-box {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;
}

.canvas-box svg.canvas:hover {
    cursor: crosshair;
}

.button-box {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;
}

.button-box button.canvas-button {
    position: relative;
    width: 15rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-width: 1px;
    border-color: white;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0.4rem;
    color: white;
    background-color: var(--tec-blue);
}

.button-box button.canvas-button:hover {
    background-color: #074A7D;
}

.button-box button.canvas-button:focus {
    outline: none;
}

.table-box {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;
}

.table-box .table-container {
    position: relative;
    width: 90%;
    overflow-x: auto;
    border-radius: 0.5rem;
}

.table-box .table-container table {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--gray-900);
}

.table-box .table-container thead {
    color: white;
    background-color: var(--tec-blue);
}

.table-box .table-container th {
    padding: 0.75rem 1.5rem;
}

.table-box .table-container td {
    padding: 1rem 1.5rem;
}