.exercise-title-box {
    text-align: center;
}

h1.exercise-title {
    margin-top: 0.5rem;
    font-size: 2.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

h2.exercise-subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tec-blue);
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.content-info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem;
    font-size: 1rem;
    line-height: 1.50rem;
}

.content-info-box .content-info {
    display: flex;
    padding: 0 1rem;
}

.content-info .info-icon {
    margin-top: 0.25rem;
    padding-right: 0.75rem;
    color: #6b7280;
}

.content-info .info-text {
    color: #6b7280;
}

.paragraph-box {
    display: flex;
    justify-content: center;
}